<div class="modal fade" id="modalUpdatemeal{{ meal.id }}" tabindex="-1" aria-labelledby="modalUpdateMealLogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Update Meal Log</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form id="updateMealLogForm" method="post" action="{% url 'meal-log-update' meal.id %}">
                    {% csrf_token %}
                    
                    <div class="form-floating mb-3">
                        <select name="meal_type" class="form-control rounded-3" id="mealType">
                            <option value="">Select Meal Type</option>
                            <option value="Breakfast" {% if meal.meal_type == "Breakfast" %}selected{% endif %}>Breakfast</option>
                            <option value="Lunch" {% if meal.meal_type == "Lunch" %}selected{% endif %}>Lunch</option>
                            <option value="Dinner" {% if meal.meal_type == "Dinner" %}selected{% endif %}>Dinner</option>
                            <option value="Snack" {% if meal.meal_type == "Snack" %}selected{% endif %}>Snack</option>
                        </select>
                        <label for="mealType">Meal Type</label>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <textarea name="notes" class="form-control rounded-3" id="floatingNotes" placeholder="Notes">{{ meal.notes }}</textarea>
                        <label for="floatingNotes">Notes</label>
                    </div>
                    
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Update Meal Log</button>
                    <small class="text-body-secondary">By clicking Update Meal Log, you agree to the terms of use.</small>
                </form>
            </div>
        </div>
    </div>
</div>
