<div class="modal fade" id="modalPass" tabindex="-1" aria-labelledby="modalPassLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Change Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form id="changPasswordForm" method="post" action="{% url 'change-password' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div id="errorMessages" class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="form-floating mb-3">
                        <input type="password" name="old_password" class="form-control rounded-3 {% if form.old_password.errors %}is-invalid{% endif %}" 
                               id="floatingOldPassword" placeholder="Old Password" value="{{ form.old_password.value }}">
                        <label for="floatingOldPassword">Old Password</label>
                        <div class="invalid-feedback">
                            {{ form.old_password.errors|join:", " }}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="new_password1" class="form-control rounded-3 {% if form.new_password1.errors %}is-invalid{% endif %}" 
                               id="floatingNewPassword" placeholder="New Password">
                        <label for="floatingNewPassword">New Password</label>
                        <div class="invalid-feedback">
                            {{ form.new_password1.errors|join:", " }}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="new_password2" class="form-control rounded-3 {% if form.new_password2.errors %}is-invalid{% endif %}" 
                               id="floatingConfirmPassword" placeholder="Confirm New Password">
                        <label for="floatingConfirmPassword">Confirm New Password</label>
                        <div class="invalid-feedback">
                            {{ form.new_password2.errors|join:", " }}
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Change Password</button>
                    <small class="text-body-secondary">By clicking Change Password, you agree to the terms of use.</small>
                </form>
            </div>
        </div>
    </div>
</div>
